body{
	max-width: 1900px;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	background-color: grey;
    background-image: url(../img/50_main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}